# Force GitHub to recognize .aspx files as C#
*.aspx linguist-language=HTML
*.aspx.cs linguist-language=C#
*.aspx.designer.cs linguist-language=C#

# Force GitHub to recognize .cs files as C#
*.cs linguist-language=C#

# Force GitHub to recognize .css files as CSS
*.css linguist-language=CSS

# Ignore JavaScript files in the Scripts folder (if they are third-party libraries)
Scripts/* linguist-vendored
